src/main/resources/wsdl/payee.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Tipalti.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Tipalti.org/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtain or update payee info.</wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://Tipalti.org/">
            <s:element name="GetPayeeInvoicesChangedSinceTimestamp">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="changedSince" type="s:double"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPayeeInvoicesChangedSinceTimestampResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPayeeInvoicesChangedSinceTimestampResult" type="tns:TipaltiGetPayeeInvoicesChangedSinceTimestampResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiGetPayeeInvoicesChangedSinceTimestampResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="changedInvoicesRefCode" type="tns:ArrayOfString"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="TipaltiResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="tns:WSErrors"/>
                    <s:element minOccurs="1" maxOccurs="1" name="b" nillable="true" type="s:boolean"/>
                    <s:element minOccurs="1" maxOccurs="1" name="i" nillable="true" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="d" nillable="true" type="s:double"/>
                    <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="WSErrors">
                <s:restriction base="s:string">
                    <s:enumeration value="UnknownError"/>
                    <s:enumeration value="OK"/>
                    <s:enumeration value="UnknownCountryCode"/>
                    <s:enumeration value="CountryNotSupported"/>
                    <s:enumeration value="UnknownState"/>
                    <s:enumeration value="PayerUnknown"/>
                    <s:enumeration value="PayeeUnknown"/>
                    <s:enumeration value="EncryptionKeyFailedValidation"/>
                    <s:enumeration value="ParameterError"/>
                    <s:enumeration value="FeeScheduleUnknown"/>
                    <s:enumeration value="StringContainsNonEBCDICCharacters"/>
                    <s:enumeration value="PreferredEntityIsNotValid"/>
                    <s:enumeration value="InvoiceRefCodeUnknown"/>
                    <s:enumeration value="InvoiceCannotBeCancelled"/>
                    <s:enumeration value="UnknownCurrencyCode"/>
                    <s:enumeration value="InvalidJson"/>
                    <s:enumeration value="InvoiceValidationError"/>
                    <s:enumeration value="ValidationError"/>
                    <s:enumeration value="ValidationWarning"/>
                    <s:enumeration value="BillsModuleMustBeEnabled"/>
                    <s:enumeration value="FileNotFound"/>
                    <s:enumeration value="InvoiceFileNotFound"/>
                    <s:enumeration value="CannotReadFile"/>
                    <s:enumeration value="CannotDeleteFile"/>
                    <s:enumeration value="CannotWriteFile"/>
                    <s:enumeration value="PaymentAmountTotalMismatch"/>
                    <s:enumeration value="InvalidPayerIpAddress"/>
                    <s:enumeration value="EnahncedSecurityNotConfigured"/>
                    <s:enumeration value="SubPayerIsNotFound"/>
                    <s:enumeration value="SubPayerDoensNotSupportDynamicKey"/>
                    <s:enumeration value="PayerDoesntSupportInvoiceModule"/>
                    <s:enumeration value="CustomFieldDoesNotExist"/>
                    <s:enumeration value="DuplicateInvoiceRefCode"/>
                    <s:enumeration value="PaidOrInProcessInvoiceCannotBeUpdated"/>
                    <s:enumeration value="CanApproveNotSupported"/>
                    <s:enumeration value="AuthorizationError"/>
                    <s:enumeration value="InvoiceNotApprovedbyPayee"/>
                    <s:enumeration value="PaymentAmountCannotBeNegative"/>
                    <s:enumeration value="RequestLimitReached"/>
                    <s:enumeration value="ItemAlreadyInProcess"/>
                    <s:enumeration value="RequestDoesNotExist"/>
                    <s:enumeration value="RequestStillInProgress"/>
                    <s:enumeration value="CustomFieldValueIsNotUnique"/>
                    <s:enumeration value="BillStatusIsNotSupported"/>
                    <s:enumeration value="GLAccountAssignedToActiveBill"/>
                    <s:enumeration value="CustomFieldValidationError"/>
                    <s:enumeration value="GlAccountValidationError"/>
                    <s:enumeration value="APAccountNotFound"/>
                    <s:enumeration value="SyncDirectionInvalid"/>
                    <s:enumeration value="ErrorTypeInvalid"/>
                    <s:enumeration value="IntegrationNameInvalid"/>
                    <s:enumeration value="IntegrationVersionOverMaxLength"/>
                    <s:enumeration value="CreationTimestampInvalid"/>
                    <s:enumeration value="ErrorDetailsInvalid"/>
                    <s:enumeration value="PaymentTermNotFound"/>
                    <s:enumeration value="CustomFieldInvalidDateFormat"/>
                    <s:enumeration value="PaymentTermValidationError"/>
                    <s:enumeration value="TaxCodeValidationError"/>
                    <s:enumeration value="TaxCodeExternalIdNotFoundError"/>
                    <s:enumeration value="IllegalErpCurrencyUpdate"/>
                    <s:enumeration value="PurchaseOrderNotFound"/>
                    <s:enumeration value="GoodsReceivedNotificationNotFound"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="PayeePayable">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeePayableResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeePayableResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PaymentsBetweenDates">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="from" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="to" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PaymentsBetweenDatesResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PaymentsBetweenDatesResult" type="tns:TipaltiPaymentQueryResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiPaymentQueryResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="tns:WSErrors"/>
                    <s:element minOccurs="1" maxOccurs="1" name="submittedTotal" nillable="true" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="pendingTotal" nillable="true" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="rejectedTotal" nillable="true" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="skippedTotal" nillable="true" type="s:double"/>
                </s:sequence>
            </s:complexType>
            <s:element name="PayeePaymentMethod">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeePaymentMethodResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeePaymentMethodResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeeUpdateEmail">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeeUpdateEmailResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeUpdateEmailResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeeUpdateAddress">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="skipNulls" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeeUpdateAddressResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeUpdateAddressResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateOrCreatePayeeInfo">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="skipNulls" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateOrCreatePayeeInfoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateOrCreatePayeeInfoResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CreatePayeeInfoAutoIdap">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="skipNulls" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CreatePayeeInfoAutoIdapResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CreatePayeeInfoAutoIdapResult" type="tns:TipaltiCreatePayeeInfoAutoIdapResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiCreatePayeeInfoAutoIdapResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="createdIdap" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="GetPayeeInvoiceList">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="includePaidInvoices" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPayeeInvoiceListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPayeeInvoiceListResult" type="tns:TipaltiPayeeInvoiceStatusResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiPayeeInvoiceStatusResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="tns:WSErrors"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PayeeInvoices" type="tns:ArrayOfPayeeInvoiceStatus"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfPayeeInvoiceStatus">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="PayeeInvoiceStatus" nillable="true" type="tns:PayeeInvoiceStatus"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PayeeInvoiceStatus">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="RefCode" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ApprovalStatus" type="tns:EPayeeApprovalStatus"/>
                    <s:element minOccurs="1" maxOccurs="1" name="PaymentStatus" type="tns:EPayeeInvoicePaymentStatus"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="PaidAmount" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="UnpaidAmount" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="InvoiceNumber" type="s:int"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="EPayeeApprovalStatus">
                <s:restriction base="s:string">
                    <s:enumeration value="None"/>
                    <s:enumeration value="Approved"/>
                    <s:enumeration value="Declined"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="EPayeeInvoicePaymentStatus">
                <s:restriction base="s:string">
                    <s:enumeration value="Unpaid"/>
                    <s:enumeration value="Paid"/>
                    <s:enumeration value="PartiallyPaid"/>
                    <s:enumeration value="ScheduledForPayment"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="GetInvoicesPayableAmount">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInvoicesPayableAmountResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInvoicesPayableAmountResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPODetails">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="poRefCode" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPODetailsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPODetailsResult" type="tns:TipaltiPaymentOrderResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiPaymentOrderResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="RefCode" type="s:string"/>
                            <s:element minOccurs="1" maxOccurs="1" name="SubmittionDate" type="s:dateTime"/>
                            <s:element minOccurs="1" maxOccurs="1" name="AmountSubmitted" type="s:double"/>
                            <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="s:string"/>
                            <s:element minOccurs="1" maxOccurs="1" name="POStatus" type="tns:ePOStatus"/>
                            <s:element minOccurs="1" maxOccurs="1" name="PayerFees" type="s:double"/>
                            <s:element minOccurs="1" maxOccurs="1" name="PayeeFees" type="s:double"/>
                            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessages" type="tns:ArrayOfString"/>
                            <s:element minOccurs="1" maxOccurs="1" name="ValueDate" nillable="true" type="s:dateTime"/>
                            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                            <s:element minOccurs="0" maxOccurs="1" name="BankingMessage" type="s:string"/>
                            <s:element minOccurs="0" maxOccurs="1" name="EmailSubject" type="s:string"/>
                            <s:element minOccurs="0" maxOccurs="1" name="TxnReference" type="s:string"/>
                            <s:element minOccurs="1" maxOccurs="1" name="PaymentAmount" nillable="true" type="s:double"/>
                            <s:element minOccurs="0" maxOccurs="1" name="PaymentCurrency" type="s:string"/>
                            <s:element minOccurs="1" maxOccurs="1" name="LiftingFees" nillable="true" type="s:double"/>
                            <s:element minOccurs="1" maxOccurs="1" name="EstimatedProviderFees" nillable="true" type="s:double"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:simpleType name="ePOStatus">
                <s:restriction base="s:string">
                    <s:enumeration value="Paid"/>
                    <s:enumeration value="Rejected"/>
                    <s:enumeration value="Scheduled"/>
                    <s:enumeration value="Submitted"/>
                    <s:enumeration value="Pending"/>
                    <s:enumeration value="Deferred"/>
                    <s:enumeration value="Deleted"/>
                    <s:enumeration value="SubmittedToPaymentSystem"/>
                    <s:enumeration value="SupportReviewRequired"/>
                    <s:enumeration value="DeferredInternal"/>
                    <s:enumeration value="ComplianceReview"/>
                    <s:enumeration value="Canceled"/>
                    <s:enumeration value="Cleared"/>
                    <s:enumeration value="FraudReview"/>
                    <s:enumeration value="InternalFraudReview"/>
                    <s:enumeration value="ProviderInProcess"/>
                    <s:enumeration value="OnHold"/>
                    <s:enumeration value="WaitingInternalChecks"/>
                    <s:enumeration value="PendingLiquidityArrival"/>
                    <s:enumeration value="PendingLoanProviderApproval"/>
                    <s:enumeration value="PendingLoanProviderFunding"/>
                    <s:enumeration value="PendingPayerFunds"/>
                    <s:enumeration value="PayeeTriggerReview"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="GetExtendedPODetails">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="poRefCode" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetExtendedPODetailsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetExtendedPODetailsResult" type="tns:TipaltiExtendedPaymentOrderResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiExtendedPaymentOrderResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="Properties" type="tns:ArrayOfKeyValuePair"/>
                            <s:element minOccurs="0" maxOccurs="1" name="CustomFields" type="tns:ArrayOfKeyValuePair"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfKeyValuePair">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePair" nillable="true" type="tns:KeyValuePair"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="KeyValuePair">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetExtendedPayeeDetails">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetExtendedPayeeDetailsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetExtendedPayeeDetailsResult" type="tns:TipaltiExtendedPayeeDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiExtendedPayeeDetailsResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="Properties" type="tns:ArrayOfKeyValuePair"/>
                            <s:element minOccurs="0" maxOccurs="1" name="CustomFields" type="tns:ArrayOfKeyValuePair"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="GetPayeeDetails">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPayeeDetailsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPayeeDetailsResult" type="tns:TipaltiPayeeDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiPayeeDetailsResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
                            <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string"/>
                            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                            <s:element minOccurs="1" maxOccurs="1" name="PaymentMethod" type="tns:ePaymentMethod"/>
                            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:simpleType name="ePaymentMethod">
                <s:restriction base="s:string">
                    <s:enumeration value="NoPM"/>
                    <s:enumeration value="PayPal"/>
                    <s:enumeration value="WireTransfer"/>
                    <s:enumeration value="Payoneer"/>
                    <s:enumeration value="ACH"/>
                    <s:enumeration value="Check"/>
                    <s:enumeration value="Cash"/>
                    <s:enumeration value="eCheck"/>
                    <s:enumeration value="HoldMyPayments"/>
                    <s:enumeration value="Custom"/>
                    <s:enumeration value="EntroPay"/>
                    <s:enumeration value="Skrill"/>
                    <s:enumeration value="Intercash"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="GetPayeePendingInvoiceTotal">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPayeePendingInvoiceTotalResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPayeePendingInvoiceTotalResult" type="tns:TipaltiPayeePendinginvoiceTotalResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiPayeePendinginvoiceTotalResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="1" maxOccurs="1" name="ApprovedUnpaidTotal" type="s:double"/>
                            <s:element minOccurs="1" maxOccurs="1" name="UnapprovedTotal" type="s:double"/>
                            <s:element minOccurs="1" maxOccurs="1" name="UnreleasedTotal" type="s:double"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="GetPayeesChangedSinceTimestamp">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="changedSince" type="s:double"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPayeesChangedSinceTimestampResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPayeesChangedSinceTimestampResult" type="tns:TipaltiChangedPayeeIdsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiChangedPayeeIdsResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="changedIds" type="tns:ArrayOfString"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="ClosePayeeAccount">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ClosePayeeAccountResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ClosePayeeAccountResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CancelInvoice">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="invoiceRefCode" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CancelInvoiceResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CancelInvoiceResult" type="tns:TipaltiCancelInvoiceResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiCancelInvoiceResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="tns:WSErrors"/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetExtendedPODetailsList">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="poRefCodes" type="tns:ArrayOfString"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetExtendedPODetailsListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetExtendedPODetailsListResult" type="tns:TipaltiExtendedPaymentOrderListResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiExtendedPaymentOrderListResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="PaymentOrders" type="tns:ArrayOfTipaltiExtendedPaymentOrderResponse"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfTipaltiExtendedPaymentOrderResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="TipaltiExtendedPaymentOrderResponse" nillable="true" type="tns:TipaltiExtendedPaymentOrderResponse"/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetExtendedPayeeDetailsList">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idaps" type="tns:ArrayOfString"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetExtendedPayeeDetailsListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetExtendedPayeeDetailsListResult" type="tns:TipaltiExtendedPayeeDetailsListResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="TipaltiExtendedPayeeDetailsListResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:TipaltiResponse">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="Payees" type="tns:ArrayOfTipaltiExtendedPayeeDetailsResponse"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfTipaltiExtendedPayeeDetailsResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="TipaltiExtendedPayeeDetailsResponse" nillable="true" type="tns:TipaltiExtendedPayeeDetailsResponse"/>
                </s:sequence>
            </s:complexType>
            <s:element name="UpdatePayeeCustomFields">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="customFieldsValues" type="tns:ArrayOfKeyValuePair"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdatePayeeCustomFieldsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdatePayeeCustomFieldsResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeeStatusUpdate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="idap" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PayeeStatusUpdateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PayeeStatusUpdateResult" type="tns:TipaltiResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetPayeeInvoicesChangedSinceTimestampSoapIn">
        <wsdl:part name="parameters" element="tns:GetPayeeInvoicesChangedSinceTimestamp"/>
    </wsdl:message>
    <wsdl:message name="GetPayeeInvoicesChangedSinceTimestampSoapOut">
        <wsdl:part name="parameters" element="tns:GetPayeeInvoicesChangedSinceTimestampResponse"/>
    </wsdl:message>
    <wsdl:message name="PayeePayableSoapIn">
        <wsdl:part name="parameters" element="tns:PayeePayable"/>
    </wsdl:message>
    <wsdl:message name="PayeePayableSoapOut">
        <wsdl:part name="parameters" element="tns:PayeePayableResponse"/>
    </wsdl:message>
    <wsdl:message name="PaymentsBetweenDatesSoapIn">
        <wsdl:part name="parameters" element="tns:PaymentsBetweenDates"/>
    </wsdl:message>
    <wsdl:message name="PaymentsBetweenDatesSoapOut">
        <wsdl:part name="parameters" element="tns:PaymentsBetweenDatesResponse"/>
    </wsdl:message>
    <wsdl:message name="PayeePaymentMethodSoapIn">
        <wsdl:part name="parameters" element="tns:PayeePaymentMethod"/>
    </wsdl:message>
    <wsdl:message name="PayeePaymentMethodSoapOut">
        <wsdl:part name="parameters" element="tns:PayeePaymentMethodResponse"/>
    </wsdl:message>
    <wsdl:message name="PayeeUpdateEmailSoapIn">
        <wsdl:part name="parameters" element="tns:PayeeUpdateEmail"/>
    </wsdl:message>
    <wsdl:message name="PayeeUpdateEmailSoapOut">
        <wsdl:part name="parameters" element="tns:PayeeUpdateEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="PayeeUpdateAddressSoapIn">
        <wsdl:part name="parameters" element="tns:PayeeUpdateAddress"/>
    </wsdl:message>
    <wsdl:message name="PayeeUpdateAddressSoapOut">
        <wsdl:part name="parameters" element="tns:PayeeUpdateAddressResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateOrCreatePayeeInfoSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateOrCreatePayeeInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateOrCreatePayeeInfoSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateOrCreatePayeeInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="CreatePayeeInfoAutoIdapSoapIn">
        <wsdl:part name="parameters" element="tns:CreatePayeeInfoAutoIdap"/>
    </wsdl:message>
    <wsdl:message name="CreatePayeeInfoAutoIdapSoapOut">
        <wsdl:part name="parameters" element="tns:CreatePayeeInfoAutoIdapResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPayeeInvoiceListSoapIn">
        <wsdl:part name="parameters" element="tns:GetPayeeInvoiceList"/>
    </wsdl:message>
    <wsdl:message name="GetPayeeInvoiceListSoapOut">
        <wsdl:part name="parameters" element="tns:GetPayeeInvoiceListResponse"/>
    </wsdl:message>
    <wsdl:message name="GetInvoicesPayableAmountSoapIn">
        <wsdl:part name="parameters" element="tns:GetInvoicesPayableAmount"/>
    </wsdl:message>
    <wsdl:message name="GetInvoicesPayableAmountSoapOut">
        <wsdl:part name="parameters" element="tns:GetInvoicesPayableAmountResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPODetailsSoapIn">
        <wsdl:part name="parameters" element="tns:GetPODetails"/>
    </wsdl:message>
    <wsdl:message name="GetPODetailsSoapOut">
        <wsdl:part name="parameters" element="tns:GetPODetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPODetailsSoapIn">
        <wsdl:part name="parameters" element="tns:GetExtendedPODetails"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPODetailsSoapOut">
        <wsdl:part name="parameters" element="tns:GetExtendedPODetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPayeeDetailsSoapIn">
        <wsdl:part name="parameters" element="tns:GetExtendedPayeeDetails"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPayeeDetailsSoapOut">
        <wsdl:part name="parameters" element="tns:GetExtendedPayeeDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPayeeDetailsSoapIn">
        <wsdl:part name="parameters" element="tns:GetPayeeDetails"/>
    </wsdl:message>
    <wsdl:message name="GetPayeeDetailsSoapOut">
        <wsdl:part name="parameters" element="tns:GetPayeeDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPayeePendingInvoiceTotalSoapIn">
        <wsdl:part name="parameters" element="tns:GetPayeePendingInvoiceTotal"/>
    </wsdl:message>
    <wsdl:message name="GetPayeePendingInvoiceTotalSoapOut">
        <wsdl:part name="parameters" element="tns:GetPayeePendingInvoiceTotalResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPayeesChangedSinceTimestampSoapIn">
        <wsdl:part name="parameters" element="tns:GetPayeesChangedSinceTimestamp"/>
    </wsdl:message>
    <wsdl:message name="GetPayeesChangedSinceTimestampSoapOut">
        <wsdl:part name="parameters" element="tns:GetPayeesChangedSinceTimestampResponse"/>
    </wsdl:message>
    <wsdl:message name="ClosePayeeAccountSoapIn">
        <wsdl:part name="parameters" element="tns:ClosePayeeAccount"/>
    </wsdl:message>
    <wsdl:message name="ClosePayeeAccountSoapOut">
        <wsdl:part name="parameters" element="tns:ClosePayeeAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="CancelInvoiceSoapIn">
        <wsdl:part name="parameters" element="tns:CancelInvoice"/>
    </wsdl:message>
    <wsdl:message name="CancelInvoiceSoapOut">
        <wsdl:part name="parameters" element="tns:CancelInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPODetailsListSoapIn">
        <wsdl:part name="parameters" element="tns:GetExtendedPODetailsList"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPODetailsListSoapOut">
        <wsdl:part name="parameters" element="tns:GetExtendedPODetailsListResponse"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPayeeDetailsListSoapIn">
        <wsdl:part name="parameters" element="tns:GetExtendedPayeeDetailsList"/>
    </wsdl:message>
    <wsdl:message name="GetExtendedPayeeDetailsListSoapOut">
        <wsdl:part name="parameters" element="tns:GetExtendedPayeeDetailsListResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdatePayeeCustomFieldsSoapIn">
        <wsdl:part name="parameters" element="tns:UpdatePayeeCustomFields"/>
    </wsdl:message>
    <wsdl:message name="UpdatePayeeCustomFieldsSoapOut">
        <wsdl:part name="parameters" element="tns:UpdatePayeeCustomFieldsResponse"/>
    </wsdl:message>
    <wsdl:message name="PayeeStatusUpdateSoapIn">
        <wsdl:part name="parameters" element="tns:PayeeStatusUpdate"/>
    </wsdl:message>
    <wsdl:message name="PayeeStatusUpdateSoapOut">
        <wsdl:part name="parameters" element="tns:PayeeStatusUpdateResponse"/>
    </wsdl:message>
    <wsdl:portType name="TipaltiPayeeSOAPSoap">
        <wsdl:operation name="GetPayeeInvoicesChangedSinceTimestamp">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns all invoices reference codes that were updated since the given date.<br/>EAT - The timestamp to check from, in UTC
            </wsdl:documentation>
            <wsdl:input message="tns:GetPayeeInvoicesChangedSinceTimestampSoapIn"/>
            <wsdl:output message="tns:GetPayeeInvoicesChangedSinceTimestampSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PayeePayable">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                If a payment request had issues, the payee might not get paid.<br/>Possible reasons for not paying are - missing tax documents, payment below threshold, account locked, address missing, or other.<br/>Returns true if payable. If returned false, s will contain the reason for not being payable.<br/>EAT - amount
            </wsdl:documentation>
            <wsdl:input message="tns:PayeePayableSoapIn"/>
            <wsdl:output message="tns:PayeePayableSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PaymentsBetweenDates">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns the amounts submitted, pending and rejected for the time period.<br/>EAT - from
            </wsdl:documentation>
            <wsdl:input message="tns:PaymentsBetweenDatesSoapIn"/>
            <wsdl:output message="tns:PaymentsBetweenDatesSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PayeePaymentMethod">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns the name of the selected payment method, or NULL if the call resulted in an error.<br/>EAT - not required.
            </wsdl:documentation>
            <wsdl:input message="tns:PayeePaymentMethodSoapIn"/>
            <wsdl:output message="tns:PayeePaymentMethodSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PayeeUpdateEmail">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Updates payee email address for communication (not PayPal email).<br/>EAT - email
            </wsdl:documentation>
            <wsdl:input message="tns:PayeeUpdateEmailSoapIn"/>
            <wsdl:output message="tns:PayeeUpdateEmailSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PayeeUpdateAddress">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Updates payee address. This address must match the one in the payee bank records.<br/>State can either be null, or a valid 2 letter US state. Country is a 2 letter ISO 3166 code.<br/>If skipNulls=true this service will ignore parameters with null value. If skipNulls=false the null values will overwrite existing values.<br/>EAT - street1
            </wsdl:documentation>
            <wsdl:input message="tns:PayeeUpdateAddressSoapIn"/>
            <wsdl:output message="tns:PayeeUpdateAddressSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateOrCreatePayeeInfo">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Updates payee's basic info. If the payee does not exist, it will be created. The details must match the ones in the payee bank records.<br/>State can either be null, or a valid 2 letter US state. <br/>If skipNulls=true this service will ignore parameters with null value. If skipNulls=false the null values will overwrite existing values.<br/>Country is a 2 letter ISO 3166 code.<br/>EAT - street1
            </wsdl:documentation>
            <wsdl:input message="tns:UpdateOrCreatePayeeInfoSoapIn"/>
            <wsdl:output message="tns:UpdateOrCreatePayeeInfoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreatePayeeInfoAutoIdap">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Creates payee with basic info, and auto generated idap.<br/>State can either be null, or a valid 2 letter US state. <br/>If skipNulls=true this service will ignore parameters with null value.<br/>Country is a 2 letter ISO 3166 code.<br/>EAT - street1
            </wsdl:documentation>
            <wsdl:input message="tns:CreatePayeeInfoAutoIdapSoapIn"/>
            <wsdl:output message="tns:CreatePayeeInfoAutoIdapSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetPayeeInvoiceList">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns an invoice list for a given payee. You may choose to include paid invoices or not.<br/>EAT - not required.
            </wsdl:documentation>
            <wsdl:input message="tns:GetPayeeInvoiceListSoapIn"/>
            <wsdl:output message="tns:GetPayeeInvoiceListSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetInvoicesPayableAmount">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns the payable amount for all payees. The payable amount is the sum of all approved invoices which were not paid yet.<br/>Passing null as the idap parameter will return total sum amount of payable invoices for the payer.<br/>Passing the id of the payee will return the payable sum amount of the invoices for that payee.<br/>Amount will be returned at the double value parameter 'd' in TipaltiResponse structure.<br/>EAT - not required.
            </wsdl:documentation>
            <wsdl:input message="tns:GetInvoicesPayableAmountSoapIn"/>
            <wsdl:output message="tns:GetInvoicesPayableAmountSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetPODetails">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns details of a given payment order. Searches for the payment order by refCode.<br/>The refCode is the identifier which was provided by the payer upon payment order creation<br/>EAT - poRefCode
            </wsdl:documentation>
            <wsdl:input message="tns:GetPODetailsSoapIn"/>
            <wsdl:output message="tns:GetPODetailsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetExtendedPODetails">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns details of a given payment order. Searches for the payment order by refCode.<br/>Response contains these properties: RefCode, SubmittionDate, AmountSubmitted, AmountSubmittedCurrency, PaymentMethod, Status, PayerFees, PayeeFees, SubmittedCurrencyToPayeeCurrencyFxRate,<br/>PayerFxFees, WithdrawCurrency, WithdrawAmount, ValueDate, Message, BankingMessage, EmailSubject, TxnReference, PaymentAmount, PaymentCurrency, ErrorMessages, ScheduledDate, InvoiceRefCodes, PayerEntity.<br/>If a specific property is not availble, it will not appear in the result.<br>Additional properties may be added in future releases.<br/>EAT - poRefCode
            </wsdl:documentation>
            <wsdl:input message="tns:GetExtendedPODetailsSoapIn"/>
            <wsdl:output message="tns:GetExtendedPODetailsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetExtendedPayeeDetails">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns details of a given payee.<br/>Response contains this properties: Alias, CompanyName, Email, FirstName, MiddleName, LastName, PaymentMethod, Street1, Street2, City, State, Zip, Country, Phone, PaymentCurrency, Payable.<br/>If a specific property is not available than it will not appear in the result.<br>Additional properties may be added in future releases.<br/>EAT - not required
            </wsdl:documentation>
            <wsdl:input message="tns:GetExtendedPayeeDetailsSoapIn"/>
            <wsdl:output message="tns:GetExtendedPayeeDetailsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetPayeeDetails">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns details of a given payee.<br/>EAT - null</wsdl:documentation>
            <wsdl:input message="tns:GetPayeeDetailsSoapIn"/>
            <wsdl:output message="tns:GetPayeeDetailsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetPayeePendingInvoiceTotal">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Returns invoice details for the payee.<br/>Result contains 3 values:<br/>ApprovedUnpaidTotal - The total amount of the invoices to this payee which the payee approved but need to be paid.<br/>UnapprovedTotal - the total value of invoices that were released but the payee did not approve yet.<br/>UnreleasedTotal - the total value of invoices that were created but not released. </br>No EAT
        </wsdl:documentation>
        <wsdl:input message="tns:GetPayeePendingInvoiceTotalSoapIn"/>
        <wsdl:output message="tns:GetPayeePendingInvoiceTotalSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPayeesChangedSinceTimestamp">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            Returns the ids of all payees whose last change date is after a given date.<br/>EAT - The timestamp to check from, in UTC
        </wsdl:documentation>
        <wsdl:input message="tns:GetPayeesChangedSinceTimestampSoapIn"/>
        <wsdl:output message="tns:GetPayeesChangedSinceTimestampSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ClosePayeeAccount">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Close Payee account.<br/>EAT - null</wsdl:documentation>
        <wsdl:input message="tns:ClosePayeeAccountSoapIn"/>
        <wsdl:output message="tns:ClosePayeeAccountSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CancelInvoice">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancel Invoice</wsdl:documentation>
        <wsdl:input message="tns:CancelInvoiceSoapIn"/>
        <wsdl:output message="tns:CancelInvoiceSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetExtendedPODetailsList">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            Returns details of a given payment orders. Searches for the payment orders by refCodes.<br/>Response contains these properties: RefCode, SubmittionDate, AmountSubmitted, AmountSubmittedCurrency, PaymentMethod, Status, PayerFees, PayeeFees, SubmittedCurrencyToPayeeCurrencyFxRate,<br/>PayerFxFees, WithdrawCurrency, WithdrawAmount, ValueDate, Message, BankingMessage, EmailSubject, TxnReference, PaymentAmount, PaymentCurrency, ErrorMessages, ScheduledDate, InvoiceRefCodes, PayerEntity.<br/>If a specific property is not availble, it will not appear in the result.<br>Additional properties may be added in future releases.<br/>EAT - null
        </wsdl:documentation>
        <wsdl:input message="tns:GetExtendedPODetailsListSoapIn"/>
        <wsdl:output message="tns:GetExtendedPODetailsListSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetExtendedPayeeDetailsList">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            Returns details of given payees.<br/>Response contains this properties: Alias, CompanyName, Email, FirstName, MiddleName, LastName, PaymentMethod, Street1, Street2, City, State, Zip, Country, Phone, PaymentCurrency, Payable.<br/>If a specific property is not available than it will not appear in the result.<br>Additional properties may be added in future releases.<br/>EAT - null
        </wsdl:documentation>
        <wsdl:input message="tns:GetExtendedPayeeDetailsListSoapIn"/>
        <wsdl:output message="tns:GetExtendedPayeeDetailsListSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdatePayeeCustomFields">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update payee custom fields.<br/>EAT - null</wsdl:documentation>
        <wsdl:input message="tns:UpdatePayeeCustomFieldsSoapIn"/>
        <wsdl:output message="tns:UpdatePayeeCustomFieldsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="PayeeStatusUpdate">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            Update the status of payee.<br/>Valid values for status are : Active, Suspended, Blocked <br/>When blocking a payee, a blocking reason may be suppliedEAT - null
        </wsdl:documentation>
        <wsdl:input message="tns:PayeeStatusUpdateSoapIn"/>
        <wsdl:output message="tns:PayeeStatusUpdateSoapOut"/>
    </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="TipaltiPayeeSOAPSoap" type="tns:TipaltiPayeeSOAPSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetPayeeInvoicesChangedSinceTimestamp">
    <soap:operation soapAction="http://Tipalti.org/GetPayeeInvoicesChangedSinceTimestamp" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeePayable">
    <soap:operation soapAction="http://Tipalti.org/PayeePayable" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PaymentsBetweenDates">
    <soap:operation soapAction="http://Tipalti.org/PaymentsBetweenDates" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeePaymentMethod">
    <soap:operation soapAction="http://Tipalti.org/PayeePaymentMethod" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeeUpdateEmail">
    <soap:operation soapAction="http://Tipalti.org/PayeeUpdateEmail" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeeUpdateAddress">
    <soap:operation soapAction="http://Tipalti.org/PayeeUpdateAddress" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="UpdateOrCreatePayeeInfo">
    <soap:operation soapAction="http://Tipalti.org/UpdateOrCreatePayeeInfo" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreatePayeeInfoAutoIdap">
    <soap:operation soapAction="http://Tipalti.org/CreatePayeeInfoAutoIdap" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeeInvoiceList">
    <soap:operation soapAction="http://Tipalti.org/GetPayeeInvoiceList" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetInvoicesPayableAmount">
    <soap:operation soapAction="http://Tipalti.org/GetInvoicesPayableAmount" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPODetails">
    <soap:operation soapAction="http://Tipalti.org/GetPODetails" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPODetails">
    <soap:operation soapAction="http://Tipalti.org/GetExtendedPODetails" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPayeeDetails">
    <soap:operation soapAction="http://Tipalti.org/GetExtendedPayeeDetails" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeeDetails">
    <soap:operation soapAction="http://Tipalti.org/GetPayeeDetails" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeePendingInvoiceTotal">
    <soap:operation soapAction="http://Tipalti.org/GetPayeePendingInvoiceTotal" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeesChangedSinceTimestamp">
    <soap:operation soapAction="http://Tipalti.org/GetPayeesChangedSinceTimestamp" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="ClosePayeeAccount">
    <soap:operation soapAction="http://Tipalti.org/ClosePayeeAccount" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelInvoice">
    <soap:operation soapAction="http://Tipalti.org/CancelInvoice" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPODetailsList">
    <soap:operation soapAction="http://Tipalti.org/GetExtendedPODetailsList" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPayeeDetailsList">
    <soap:operation soapAction="http://Tipalti.org/GetExtendedPayeeDetailsList" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="UpdatePayeeCustomFields">
    <soap:operation soapAction="http://Tipalti.org/UpdatePayeeCustomFields" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeeStatusUpdate">
    <soap:operation soapAction="http://Tipalti.org/PayeeStatusUpdate" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TipaltiPayeeSOAPSoap12" type="tns:TipaltiPayeeSOAPSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetPayeeInvoicesChangedSinceTimestamp">
    <soap12:operation soapAction="http://Tipalti.org/GetPayeeInvoicesChangedSinceTimestamp" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeePayable">
    <soap12:operation soapAction="http://Tipalti.org/PayeePayable" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PaymentsBetweenDates">
    <soap12:operation soapAction="http://Tipalti.org/PaymentsBetweenDates" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeePaymentMethod">
    <soap12:operation soapAction="http://Tipalti.org/PayeePaymentMethod" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeeUpdateEmail">
    <soap12:operation soapAction="http://Tipalti.org/PayeeUpdateEmail" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeeUpdateAddress">
    <soap12:operation soapAction="http://Tipalti.org/PayeeUpdateAddress" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="UpdateOrCreatePayeeInfo">
    <soap12:operation soapAction="http://Tipalti.org/UpdateOrCreatePayeeInfo" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreatePayeeInfoAutoIdap">
    <soap12:operation soapAction="http://Tipalti.org/CreatePayeeInfoAutoIdap" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeeInvoiceList">
    <soap12:operation soapAction="http://Tipalti.org/GetPayeeInvoiceList" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetInvoicesPayableAmount">
    <soap12:operation soapAction="http://Tipalti.org/GetInvoicesPayableAmount" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPODetails">
    <soap12:operation soapAction="http://Tipalti.org/GetPODetails" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPODetails">
    <soap12:operation soapAction="http://Tipalti.org/GetExtendedPODetails" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPayeeDetails">
    <soap12:operation soapAction="http://Tipalti.org/GetExtendedPayeeDetails" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeeDetails">
    <soap12:operation soapAction="http://Tipalti.org/GetPayeeDetails" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeePendingInvoiceTotal">
    <soap12:operation soapAction="http://Tipalti.org/GetPayeePendingInvoiceTotal" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPayeesChangedSinceTimestamp">
    <soap12:operation soapAction="http://Tipalti.org/GetPayeesChangedSinceTimestamp" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="ClosePayeeAccount">
    <soap12:operation soapAction="http://Tipalti.org/ClosePayeeAccount" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelInvoice">
    <soap12:operation soapAction="http://Tipalti.org/CancelInvoice" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPODetailsList">
    <soap12:operation soapAction="http://Tipalti.org/GetExtendedPODetailsList" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetExtendedPayeeDetailsList">
    <soap12:operation soapAction="http://Tipalti.org/GetExtendedPayeeDetailsList" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="UpdatePayeeCustomFields">
    <soap12:operation soapAction="http://Tipalti.org/UpdatePayeeCustomFields" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
<wsdl:operation name="PayeeStatusUpdate">
    <soap12:operation soapAction="http://Tipalti.org/PayeeStatusUpdate" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="TipaltiPayeeSOAP">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtain or update payee info.</wsdl:documentation>
<wsdl:port name="TipaltiPayeeSOAPSoap" binding="tns:TipaltiPayeeSOAPSoap">
    <soap:address location="https://api.sandbox.tipalti.com/PayeeFunctions.asmx"/>
</wsdl:port>
<wsdl:port name="TipaltiPayeeSOAPSoap12" binding="tns:TipaltiPayeeSOAPSoap12">
    <soap12:address location="https://api.sandbox.tipalti.com/PayeeFunctions.asmx"/>
</wsdl:port>
</wsdl:service>
        </wsdl:definitions>